* {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    background: transparent;
    text-decoration: none;
    outline: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .wrapper{
      width: 90%;
      max-width: 1350px;
      margin:0 auto;
  }

  h1{
    font-family: 'poppinssemibold';  
  }
  
  .text,.texts{
    font-family: 'poppinsmedium'; 
  }



@font-face {
    font-family: 'poppinssemibold';
    src: url('./font/poppins-semibold-webfont.woff2') format('woff2'),
         url('./font/poppins-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
  
  
  @font-face {
      font-family: 'poppinsbold';
      src: url('./font/poppins-bold-webfont.woff2') format('woff2'),
           url('./font/poppins-bold-webfont.woff') format('woff');
      font-weight: normal;
      font-style: normal;
  
  }
  
  
  
  
  @font-face {
      font-family: 'poppinsmedium';
      src: url('./font/poppins-medium-webfont.woff2') format('woff2'),
           url('./font/poppins-medium-webfont.woff') format('woff');
      font-weight: normal;
      font-style: normal;
  
  }
  
  
  
  
  @font-face {
      font-family: 'poppinsregular';
      src: url('./font/poppins-regular-webfont.woff2') format('woff2'),
           url('./font/poppins-regular-webfont.woff') format('woff');
      font-weight: normal;
      font-style: normal;
  
  }

  ul{
      list-style: none;
  }
  header{
      height: 90px;
      background-color:#f7f8ff;
  }
  .lab h1{
      position:absolute;
     top:39%;
     left:39%;
     bottom: 0%;
     right: 0%;
     color:#f7f8ff;
     font-size:34px ;
     display:inline;
  }
  .lab .container{
    width:70%;
    margin-left:15%;
    border-radius: 15px;
    height:160px;
    background-image: linear-gradient(180deg,transparent,#353434),
      url("./images/images (6).jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow:5px 5px 5px #000000 ;
    border:1px solid black ;
     
  }
  .staff{
      display:flex;
      margin-left:20%;
      margin-top:5%;
      margin-bottom: 25px;
      color: #999;
      font-size: 22px;
  }
  .staff .text{
      margin-right: 25px;

  }
  .gallery{
      margin-left: 28px;
      margin-top: 7%;
      margin-bottom: 10%;
  }
  .gallery ul{
      display: flex;
      justify-content:space-between;
      align-items: center;
      flex-wrap: wrap;
  }
  .gallery ul li{
      margin:17px;
      width:30%;
  }
  .gallery ul li img{
      width: 95%;
      border-radius: 15px;

    
  }
  .lab{
     margin-top: 8%;
  }
  
  #footer{
     height:260px; 
     width:100%;
     background-color:#41447d;
  }
 
  @media all and (max-width:1280px){
    .lab h1{
        position:absolute;
        top:49%;
       left:39%;
       bottom: 0%;
       right: 0%;
       font-size:34px ;
    }
    .staff{
       font-size:22px;
    }
    .gallery ul li{
        margin: 13px;
    }
}
  @media all and (max-width:1220px){
    .lab h1{
        position:absolute;
       top: 47%;
       left:39%;
       bottom: 0%;
       right: 0%;
       font-size:34px ;
    }
    .staff{
       font-size:22px ;
    }
    .gallery ul li{
        margin: 13px;
    }
}
  @media all and (max-width:1180px){
    .lab h1{
      position:absolute;
      top:47.8%;
     left:38%;
     bottom: 0%;
     right: 0%;
     font-size:34px ;
  }
    
    .staff{
       font-size:22px ;
    }
    .gallery ul li{
        margin: 13px;
    }
}
  @media all and (max-width:1120px){
    .lab h1{
        position:absolute;
       top: 46%;
       left:38%;
       bottom: 0%;
       right: 0%;
       font-size:34px ;
    }
    .staff{
       font-size:22px ;
    }
    .gallery ul li{
        margin: 13px;
    }
}
  @media all and (max-width:1080px){
    .lab h1{
      position:absolute;
      top: 45%;
     left:37.8%;
     bottom: 0%;
     right: 0%;
     font-size:34px ;
  }
    .staff{
       font-size:21px ;
    }
    .gallery ul li{
        margin: 13px;
    }

}
@media all and (max-width:1024px){
  .lab h1{
    position:absolute;
    top: 44%;
   left:37%;
   bottom: 0%;
   right: 0%;
   font-size:34px ;
}
  .staff{
     font-size:21px ;
  }
  .gallery ul li{
      margin: 13px;
  }
      .gallery ul li img{
        width: 100%;
     height:100%
    
  }

}
@media all and (max-width:897px){
  .lab h1{
    position:absolute;
    top: 43%;
   left:36%;
   bottom: 0%;
   right: 0%;
   font-size:34px ;
}
    .staff{
       font-size:20px ;
    }
    .gallery ul{
      margin:10px;
    }
    .gallery ul li{
        margin: 15px;
      width:40%  ;
      height: 180px;   
    }
    .gallery ul li img{
      width: 100%;
     height:100%
  }
}
@media all and (max-width:768px){
  .lab h1{
    position:absolute;
    top: 42%;
   left:33.5%;
   bottom: 0%;
   right: 0%;
   font-size:34px ;
  }
    .staff{
       font-size:20px ;
    }
    .gallery ul{
      margin:10px;
      margin-right: 2%;
    }
    .gallery ul li{
        margin: 15px;
      width:40%  ;
      height:180px; 
    }
    .gallery ul li img{
      width: 100%;
      height:100%
  }
}
@media all and (max-width:680px){
  .lab h1{
    position:absolute;
    top: 40%;
   left:34%;
   bottom: 0%;
   right: 0%;
   font-size:30px ;
}
    .lab .container{
         height:100px ;
         margin-left:7%;
         width: 88%;
         padding-right: 10%;
         margin-top: 12%;
     }
    .staff{
       font-size:20px;
       margin-top: 7%;
    }
    .gallery ul{
      margin:14px;
      margin-right:5%;
      margin-left: 4%;
    }
    .gallery ul li{
        margin:15px;
      width:43%;
      height:160px;   
    }
    .gallery ul li img{
        width: 100%;
     height:100%
    }
}
@media all and (max-width:620px){
    .lab h1{
        position:absolute;
        top: 39%;
        left:32%;
        bottom: 0%;
        right: 0%;
        font-size:30px ;
    }
    .lab .container{
         height:100px ;
         margin-left:7%;
         width: 85%;
         padding-right: 10%;
         margin-top: 12%;

     }
    .staff{
       font-size:20px ;
       margin-top: 8%;

    }
    .gallery ul{
      margin:8px;
      margin-right:34px;
      margin-top: 10%;
    }
    .gallery ul li{
        margin:10px;
      width:43%;
      height:160px;   
    }
    .gallery ul li img{
        width: 100%;
     height:100%
    }
}
@media all and (max-width:580px){
  .lab h1{
    position:absolute;
    top: 38%;
   left:32%;
   bottom: 0%;
   right: 0%;
   font-size:30px ;
}
    .lab .container{
         height:100px ;
         margin-left:7%;
         width: 88%;
         padding-right: 10%;
         margin-top: 12%;
     }
    .staff{
       font-size:18px ;
       margin-top: 7%;
    }
    .gallery ul{
      margin:8px;
      margin-right:34px;
      margin-left: 4%;
    }
    .gallery ul li{
        margin:10px;
      width:43%;
      height:150px;   
    }
    .gallery ul li img{
        width: 100%;
     height:100%
    }
}
@media all and (max-width:520px){
  .lab h1{
    position:absolute;
    top:37%;
   left:30%;
   bottom: 0%;
   right: 0%;
   font-size:30px ;
}
    .lab .container{
         height:100px ;
         margin-left:7%;
         width: 88%;
         padding-right: 10%;
         margin-top: 12%;
     }
    .staff{
       font-size:15px ;
       margin-top: 7%;
    }
    .gallery ul{
      margin:8px;
      margin-right:34px;
      margin-left: 4%;
    }
    .gallery ul li{
        margin:10px;
      width:43%;
      height:150px;   
    }
    .gallery ul li img{
        width: 100%;
     height:100%
    }
}

@media all and (max-width:480px){
  .lab h1{
    position:absolute;
    top: 36%;
   left:27%;
   bottom: 0%;
   right: 0%;
   font-size:29px ;
}
    .lab .container{
         height:100px ;
         margin-left:7%;
         width: 85%;
         padding-right: 10%;
         margin-top: 12%;
     }
    .staff{
       font-size:15px ;
       margin-top: 9%;
    }
    .gallery ul{
      margin:8px;
      margin-right:34px;
    }
    .gallery ul li{
        margin:10px;
      width:43%;
      height:140px;   
    }
    .gallery ul li img{
        width: 100%;
     height:100%
    }
}
@media all and (max-width:425px){
  .lab h1{
    position:absolute;
    top: 35.4%;
   left:27%;
   bottom: 0%;
   right: 0%;
   font-size:28px ;
}
    .lab .container{
         height:100px ;
         margin-left:7%;
         width: 88%;
         padding-right: 10%;
         margin-top: 12%;
     }
    .staff{
       font-size:19px ;
       margin-top: 7%;
    }
    .gallery ul{
      margin:8px;
      margin-right:34px;
      margin-left: 10.5%;
    }
    .gallery ul li{
        margin:10px;
      width:85%;
      height:170px;   
    }
    .gallery ul li img{
        width: 100%;
     height:100%
    }
}
@media all and (max-width:393px){
  .lab h1{
    position:absolute;
    top: 34%;
   left:27%;
   bottom: 0%;
   right: 0%;
   font-size:28px ;
}
    .lab .container{
         height:100px ;
         margin-left:10%;
         width: 85%;
         padding-right: 10%;
         margin-top: 12%;
     }
    .staff {
       font-size:16px ;
       margin-top: 9%;
       margin-left: 70px;
    }
    
    .gallery ul{
      margin:10px;
      margin-left:9%;
      margin-top: 14%;
    }
    .gallery ul li{
        margin:13px;
      width:83%;  
      height:180px; 
    }
    .gallery ul li img{
        width: 100%;
     height:100%;
     
    }
}
@media all and (max-width:375px){
  .lab h1{
    position:absolute;
    top: 33%;
   left:24%;
   bottom: 0%;
   right: 0%;
   font-size:27px ;
}
    .lab .container{
         height:100px ;
         margin-left:10%;
         width: 80%;
         padding-right: 10%;
         margin-top: 12%;
     }
    .staff {
       font-size:16px ;
       margin-top: 10%;
       margin-left: 70px;
    }
    
    .gallery ul{
      margin:10px;
      margin-left:10%;
      margin-top: 14%;
    }
    .gallery ul li{
        margin:13px;
      width:75%;  
      height:170px; 
    }
    .gallery ul li img{
        width: 100%;
     height:100%;
     
    }
}

@media all and (max-width:320px){
  .lab h1{
    position:absolute;
    top: 33%;
   left:22%;
   bottom: 0%;
   right: 0%; 
   font-size:25px ;
}
    .lab .container{
         height:100px ;
         margin-left:7%;
         width: 88%;
         padding-right: 10%;
         margin-top: 12%;
     }
    .staff {
       font-size:14px ;
       margin-top: 11%;
       margin-left: 50px;
    }
    
    .gallery ul{
      margin:10px;
      margin-left:8%;
      margin-top: 14%;
    }
    .gallery ul li{
        margin:13px;
      width:79%;  
      height:150px; 
    }
    .gallery ul li img{
        width: 100%;
     height:100%;
     
    }
}